<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <meta name="description" content="" />
  <link rel="icon" type="image/x-icon" href="https://www.dropbox.com/s/unb7kozlrbox72t/favicon.ico?raw=1">

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  <script src=""></script>
  <style>
    .purple {
      background-color: #efecfe;
      color: #6f57e5;
    }

    .blush {
      background-color: #feecf2;
      color: #e55787;
    }

    .lightBlue {
      background-color: hsl(200 92% 96%);
      color: hsl(200 91% 62%);
    }

    .red {
      border: 0px solid #e6868d;
      background-color: #fcf1f2;
      color: #e6868d;
    }

    .green {
      border: 0px solid #71cf9e;
      background-color: #f2fbf7;
      color: #71cf9e;
    }

    .darkPink {
      background-color: hsl(290 89% 96%);
      color: hsl(290 86% 62%);
    }

    .hexTeal {
      background-color: #ecfefb;
      color: #57e5cd;
    }
  </style>
  <link rel="stylesheet" href="" />
</head>

<body>
  (i am in html and have id and theme, i am passed in through express backend)
  id: {{user.id}}
  theme: {{user.theme}} i have body
  <br />{{{body}}}

</body>

</html>